._footer{
    background-color: rgb(247, 247, 247) !important;
    border-top: 1px solid rgb(221, 221, 221) !important;
}

._1s94zl78 {
    margin: 0px auto !important;
    max-width: 1440px !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

._157uib4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-top: none !important;
}

._krjbj {
    border: 0px !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

._ar9stc {
    -webkit-box-pack: justify !important;
    display: flex !important;
    justify-content: space-between !important;
}

._pd8gea {
    text-align: left !important;
}

._wjo0ey {
    overflow: hidden !important;
    padding-right: 2px !important;
}

._1br4kkl {
    font-size: 14px !important;
    line-height: 18px !important;
    color: rgb(34, 34, 34) !important;
    display: inline-block !important;
    margin-right: 19px !important;
}

._opoa3c {
    display: inline-block !important;
    margin-left: -19px !important;
}

._j8ldew {
    display: inline-block !important;
}

._o06542u {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    text-decoration: none !important;
    color: rgb(34, 34, 34) !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

._10wqwyj {
    display: inline-block !important;
    text-align: center !important;
    width: 19px !important;
}

._jro6t0 {
    display: flex !important;
}

._19c5bku:not(last-child) {
    margin-right: 24px !important;
}

._108vr8f6 {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    appearance: none !important;
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    margin: 0px !important;
    padding: 0px !important;
    user-select: auto !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: rgb(34, 34, 34) !important;
    display: flex !important;
    white-space: nowrap !important;
    text-decoration: none !important;
}

._14tkmhr {
    margin-right: 8px !important;
}

._bjxj6b {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

._xh0r19 {
    margin-left: 32px !important;
}

._115qwnm {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex !important;
}

._kdkpwk:not(:last-child) {
    margin-right: 24px !important;
}

._s7cvp1u {
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: none !important;
}