
.top{
    margin: auto;
}
.imgdiv{
    height: 45vw;
    display: block;
    margin-bottom: 30px;
}
.imgdiv>img{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-top: -60px;
}
.strip{
    width: 100%;
    background-color: #222222;
    font-family: 'Circular Std Book', sans-serif;
    padding:20px 0;
    box-shadow: 0px 30px 170px #000000;
    /* z-index: 1; */
    /* position: fixed; */
    position:absolute;
    
}
.strip>div>a{
    color: #adadadcc;
    margin: 0px 0 0 41%;
    font-size: 15px;
    font-weight: 500;
}

/* nav bar */
.nav{
    width: 100%;
    height: 80px;
    /* background-color: white; */
    color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 60px;
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
}

.nav svg{
    width:102;
    height:32;
    /* color: #ff385c; */
    margin: 25px 0 0 80px;
}
.nav div+p{
    margin-left:  180px; ;
}
.nav p{
    margin-top: 30px;
    margin-left: 25px;
}
.nav p+button{
    height: 40px;
    width: 120px;
    margin-left: 260px;
    margin-top: 22px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.nav button+span{
    width: 30px;
    height: 30px;
    margin-left: -70px;
    margin-top: 7px;
    font-size: 18px;
    /* cursor: pointer; */
}
.sign{
    height: 40px;
    width: 78px;
    background-color: #FFFFFF ;
    display: flex;
    flex-direction: row;
    margin-left: 85px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.sign span{
    position: absolute;
    top: 0;
    left: 100;
    color: #717171;
}
.sign>span:nth-child(1){
    margin-top: 4px;
    margin-left: -70px;
    font-size: 23px;
}
.sign>span:nth-child(2){
    margin-top: 1px;
    margin-left: -40px;
    font-size: 30px;
}

/* search div */

.searchDiv{
    width: 850px;
    height:65px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 140px;
    margin-left: 22%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
     font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
}
.searchDiv>div:nth-child(1){
    /* background-color: wheat; */
    height: 65px;
    width: 240px;
    border-radius: 40px;
    padding-left: 35px; 
}
.searchDiv>div:nth-child(2),.searchDiv>div:nth-child(3),.searchDiv>div:nth-child(4){
    height: 65px;
    width: 140px;
    border-radius: 40px;
    padding-left: 30px; 
}
.searchDiv>div:nth-child(4){
    width: 210px;
}
.searchDiv>div:hover{
   background-color: rgb(238, 238, 238);
}
.searchDiv h5{
    letter-spacing: 0.3px;
    font-size: 13px;
    margin-top: 15px;
}
.searchDiv p{
    margin-top: -20px;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 50;
}
.searchDiv span{
    position: absolute;
    margin-top: -63px;
    margin-left: 142px;
    font-size: 65px;
    color:#ff385c; ;
}

/* flexible */

.flexible{
    position: absolute;
    margin-top: 380px;
    margin-left: 42%;
    text-align: center;
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
}
.flexible>p{
    font-size: 18px;
    font-weight: 500;
}
.flexible>button{
    width: 200px;
    height: 65px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgb(221, 221, 221);
    background-color:white ;
}
.gradient{
     font-size: 18px;
    font-weight: 600;
    background: linear-gradient(to right, #6F019C 0%, #C6017E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.placesDiv{
    margin-left: 80px;
    margin-top: 40px;
}
.placesDiv>h1,.live>h1{
    font-size: 32px;
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
    letter-spacing: 1px;
}
.placesDiv>div{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.place{
    display: flex;
    flex-direction: row;
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
    margin-right: 30px;
    width: 310px;
    margin-bottom: 15px;
    cursor: pointer;
}
.place>img{
    height: 64px;
    border-radius: 9px;
}
.place>div{
     margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.place>div>h4{
    margin-top: 5px;
    font-weight: 500;
}
.place>div>p{
    margin-top: -20px;
    color: #5c5c5c;
    font-weight: 300;
}

/* live anywhere */

.live{
    margin-left: 80px;
    margin-top: 45px;
}
.live>div,.discover>div{
    display: flex;
    flex-direction: row;
    width: 95%;
}
.stay{
    margin-right: -70px;
    cursor: pointer;
}
.stay>img{
    width: 80%;
    border-radius: 10px;
}
.stay>h4{
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
    margin-top: 2px;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 570;
    color: black;
}

/* hosting */

.hosting>img{
    width: 89%;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 15px;
    height: 490px;
    cursor: pointer;
}
.hosting>div{
    width: 400px;
    height: 300px;
    color: white;
    margin-left: 160px;
    margin-top: -380px;
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
}
.hosting>div>h1{
    font-weight: 500;
    font-size: 50px;
}
.hosting>div>p{
    margin-top: -30px;
    font-size: 18px;
}
.hosting>div>button{
    width: 135px;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(80, 80, 80);
}

/* discover */
.discover{
     margin-left: 80px;
    margin-top: 90px;
}
.exp{
    cursor: pointer;
}
.exp>img{
    width: 96.5%;
    border-radius: 10px;
}
.exp>h4{
    font-family: 'Circular Std Book','Neue Helvetica','Roboto', sans-serif;
    margin-top: 2px;
    font-size: 19px;
    font-weight: 500;
    color: black;
}
.exp>p{
    margin-top: -25px;
    font-size: 15px;
}

/* footer */
.footer{
    background-color:#F7F7F7 ;
    height: 570px;
    margin-top: 60px;
    border: 1px solid #e4e4e4;
    
}
.footer>div:nth-child(1){
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.list{
    width: 24%;
    margin-top: 35px;
}
.list>h4{
    font-size: 12px;
}
.list>p{
    font-size: 15px;
    color: #222222;
}
.list>p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer>div:nth-child(2){
    width: 90%;
    margin: auto;
    height: auto;
    border-top: 1px solid #d3d3d3 ;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.footer>div:nth-child(2)>p{
    margin-left: 6px;
    font-weight: 400;
}
.footer>div:nth-child(2)>p:hover{
    text-decoration: underline;
}
.footer>div>a:nth-child(6){
    margin-left: 40%;
    font-size: 20px;
    margin-right: 5px;
}
.footer>div>a:nth-child(7){
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}
.footer>div>a:nth-child(9){
    margin-left: 40px;
}
.footer>div>a{
    color: black;
    margin-top: 15px;
    margin-right: 25px;
}