.searchPage__info {
  width: 55vw;
  padding: 20px;
  text-align: left;
  margin-left: 30px;
  margin: auto;
}
.searchPage__info_breakLine {
  margin-top: 30px;
  text-align: left;
  border: 1px solid rgba(110, 106, 106, 0.705);
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 30px;
}

.searchPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

.fl_pr_sec {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 1.3rem;
}
.fl_pr_sec > div {
  border: 2px solid #3f50b5;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
}
.fl_pr_sec > div > b {
  color: #3f50b5;
}
