.searchResult {
  width: 55vw;
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult__infoTop {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.searchResult__infoTopDescription > h4 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.searchResult__info_line {
  height: 0;
  width: 50px;
  text-align: left;
  border: 1px solid rgba(110, 106, 106, 0.705);
  margin: 20px 0;
}

.searchResult__infoTopDescription > p {
  letter-spacing: 1px;
  font-size: 15px;
  color: rgb(110, 106, 106);
}
.searchResult__infoTopDescription {
  text-align: left;
}
.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__star {
  color: red;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}
.searchResult__stars > p {
  color: rgb(110, 106, 106);
}

.searchResults__price > p {
  font-size: 18px;
  text-align: right;
}

.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
